<?xml version="1.0" encoding="UTF-8"?>
<!-- 名称空间 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        ">

    <!-- 1、声明数据源对象：C3P0连接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 加载jdbc驱动 -->
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <!-- jdbc连接地址 -->
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/kk"></property>
        <!-- 连接数据库的用户名 -->
        <property name="user" value="root"></property>
        <!-- 连接数据库的密码 -->
        <property name="password" value="root"></property>
        <!-- 数据库的初始化连接数 -->
        <property name="initialPoolSize" value="3"></property>
        <!-- 数据库的最大连接数 -->
        <property name="maxPoolSize" value="10"></property>
        <!-- 数据库最多执行的事务 -->
        <property name="maxStatements" value="100"></property>
        <!-- 连接数量不够时每次的增量 -->
        <property name="acquireIncrement" value="2"></property>
    </bean>

    <!--  创建jdbcTemplate对象 -->
<!--    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
<!--        <property name="dataSource" ref="dataSource">-->
<!--        </property>-->
<!--    </bean>-->


    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <!-- 需要注入连接池,通过连接池获得连接 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>


</beans>